html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fixed {
  position: fixed;
  top: 50px;
  left: 95%;
  z-index: 3;

  /* align-self: flex-end; */
}